*{
    box-sizing: border-box ;
}
body{
    background-color: #CD5C5C;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #eee;
    min-height: 100px;
    width: 520px;
    margin: 100px auto;
    border-radius: 15px;
    height: auto;
}
.base{
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
}
.base h4{
    font-size:26px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 0px 2px #bababa;
    font-weight: normal;
    color: navy;
    padding: 5px;
    background: white;
    padding: 5px;

}
.block{
    width: 135px;
    padding: 5px 20px;
    margin-left: 20px;
    display: inline-block;
    /* float : left; */
}
.title{
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    color: #1073d0;
    word-spacing: 2.7px;

}
input[type=text]{
    margin:auto;
    width: 140px;
    outline: none;
    min-height: 50px;
    border: 20x solid #1073d0;
    border-radius: 12px;
    color: #1073d0;
    font-size: 17px;
    padding: 12px;
}
input[type=text]:focus{
background: #ffff;
border: 20px solid #CD5C5C;
/* border-radius: 445555px; */
}
input[type=button]{
    width: 150px;
    margin-left: 35%;
    margin-top: 40px;
    outline: none;
    border: none;
    border-radius:#0761b6;
    padding: 14px 16px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    cursor: pointer;
}
#age{
    display: block;
    margin: 10;
    margin-top: 35px;
    padding-bottom: 20px;
    overflow: hidden;
    font-family: Verdana;
    font-size: 23px;
    font-weight: normal;
    line-height: 1.5;
    word-spacing: 2.7px;
    color: navy;
    padding: 10px;
}
